<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234330228364-afrp29pllaruj0f8fl47c5nuoo3blb1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234330228364-afrp29pllaruj0f8fl47c5nuoo3blb1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAlqHcL5uMe9cqdzGfo8MsrKeWO8Y45ikc</string>
	<key>GCM_SENDER_ID</key>
	<string>234330228364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartpods.ios.pulseecho</string>
	<key>PROJECT_ID</key>
	<string>pulseecho-940c6</string>
	<key>STORAGE_BUCKET</key>
	<string>pulseecho-940c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234330228364:ios:d74e7739135bdee54fdda9</string>
	<key>DATABASE_URL</key>
	<string>https://pulseecho-940c6.firebaseio.com</string>
</dict>
</plist>